<ion-view>
    <ion-header-bar align-title="center" class="bar-c2go">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon"><i class="md-menu white md-lg"></i></button>
        </div>
        <h1 class="title">Recent Transactions</h1>
        <div class="buttons">
            <button class="button button-icon"><i class="md-notifications-none white md-lg"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader-rel has-header">
        <div class="bar bar-subheader rel header-list">
            <div layout="row">
                <div flex="50" class="balance-name">
                    C2GO Balance
                </div>
                <div flex="50" class="balance-sum">
                    $876.12 USD
                </div>
            </div>

        </div>
        <ion-list>
            <ion-item class="list-entry">
                <div layout="row">
                    <img src="img/avatars/8bit1.jpg" flex="5" height="auto" class="circle avatar icon">
                    <div flex="60" class="inner row-left">
                        <h2>Club Ladies</h2>
                        <p class="bottom">Completed</p>
                    </div>
                    <div flex="30" class="row-right">
                        <h4><span class="green-operation">+</span> $19.99</h4>
                        <p class="bottom">October 7,2014</p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="list-entry">
                <div layout="row">
                    <img src="img/avatars/8bit1.jpg" flex="5" height="auto" class="circle avatar icon">
                    <div flex="60" class="inner row-left">
                        <h2>Tiger Central</h2>
                        <p class="bottom">Completed</p>
                    </div>
                    <div flex="30" class="row-right">
                        <h4><span class="red-operation">-</span> $9.99</h4>
                        <p class="bottom">October 5,2014</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>