<ion-view>
    <ion-header-bar align-title="center" class="bar-c2go">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon"><i class="md-menu white md-lg"></i></button>
        </div>
        <h1 class="title">Select Transaction</h1>
        <div class="buttons">

            <button class="button button-icon"><i class="md-notifications-none white md-lg"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader-rel has-header">
        <div class="bar bar-subheader rel center-div">
            <md-text-float type="text" ng-model="username" class="search-position"></md-text-float>
            <button class="button button-icon"><i class="ion-search"></i></button>
        </div>
        <ion-list>
            <ion-item class="list-entry" ui-sref="payment.splitCommission2">
                <div layout="row">
                    <div flex="60" class="inner row-left-5">
                        <h2>Club Ladies</h2>
                    </div>
                    <div flex="40" class="row-right">
                        <h4>$19.99</h4>
                        <p class="bottom">October 7,2014</p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="list-entry"  ui-sref="payment.splitCommission2">
                <div layout="row">
                    <div flex="60" class="inner row-left-5">
                        <h2>Tiger Central</h2>
                    </div>
                    <div flex="40" class="row-right">
                        <h4>$9.99</h4>
                        <p class="bottom">October 5,2014</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>