<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Account Terms</div>
        <a href="#/createConfirmation" class="button button-icon icon icon-right ion-chevron-right"></a>
    </div>
    <ion-content class="intro-slides">
        <h3>I agree to the following:</h3>

        <label class="item-input">
            <ion-checkbox ng-model="isChecked">C2GO Visa Prepaid Cardholder Agreement</ion-checkbox>
        </label>

        <p>
            The simplest way to collect the commissions you earn
            every day. Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a,
            venenatis vitae, justo. Nullam dictum felis eu pede
            mollis pretium. Integer tincidunt. Cras dapibus.
            Vivamus elementum semper nisi. Aenean vulputate
        </p>

        <label class="item-input">
            <ion-checkbox ng-model="isChecked">C2GO Visa Prepaid Cardholder</ion-checkbox>
        </label>

        <label class="item-input">
            <ion-checkbox ng-model="isChecked">Privacy Policy</ion-checkbox>
        </label>

        <label class="item-input">
            <ion-checkbox ng-model="isChecked">E-sign Authorization</ion-checkbox>
        </label>
    </ion-content>

    <ion-footer-bar>
        <div layout="row" layout-align="space-between center" layout-fill layout-margin>
            <div flex class="buttons">
                <a href="#/createConfirmation" class="button-footer-c2go button">CREATE ACCOUNT</a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>