<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Recent Transactions</div>
        <a href="#" class="button button-icon icon ion-android-notifications-none"></a>
    </div>
    <ion-content class="intro-slides">
        <br><br>
        <div>
            C2GO Balance $836.27 USD
            Available Balance $836.27 USD
        </div>

        <div class="list">
            <div class="item item-icon-left" href="#">
                <i class="icon ion-arrow-return-right"></i>
                Club Ladies <br>
                Completed
                <div class="item-note">
                    + $19.99 <br>
                    October 7, 2014
                </div>
            </div>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-arrow-return-right"></i>
                Tiger Central <br>
                Completed
                <div class="item-note">
                    - $9.95 <br>
                    October 5, 2014
                </div>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-arrow-return-right"></i>
                Bob's Place <br>
                Completed
                <div class="item-note">
                    + $49.95 <br>
                    October 3, 2014
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>