<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Select Recipient</div>
        <a href="#/" class="button button-icon icon icon-right ion-android-notifications-none"></a>
    </div>
    <ion-content class="intro-slides">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>

        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Jamie Wonderful</h2>
            </a>

            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Oskar Eatmypants</h2>
            </a>

            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Suzanne Williams</h2>
            </a>
        </div>

</ion-view>