.super-input-error.md-default-theme.md-input-focused label {
  color: red !important;
}
.super-input-error.md-default-theme input {
  border-color: red;
}
.super-input-error.md-default-theme.md-input-focused input {
  border-color: red;
}