<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Send</div>
    </div>

    <ion-content class="intro-slides">

        <div class="list">
            <label class="item item-input"> To:
                <input type="text" placeholder="Jamie Wonderful">
            </label>
            <label class="item item-input"> Amount:
                <input type="text" placeholder="$20.00 USD">
            </label>
            <label class="item item-input">Job:
                <textarea placeholder="Message: (optional)">
                    Bob's Burgers
                </textarea>
            </label>
        </div>
    </ion-content>

    <ion-footer-bar>
        <div layout="row" layout-align="space-between center" layout-fill layout-margin>
            <div flex class="buttons">
                <a href="#/sendConfirmation" class="button-footer-c2go button">SEND</a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>