<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Account Terms</div>
        <a href="#/promoFilter" class="button button-icon icon ion-search"></a>
    </div>
    <ion-content class="intro-slides">
        Some Las Vegas Lounge (add special)
        <div class="list card">
            <div class="item item-body">
                <p>
                    Some Las Vegas Lounge <br>
                    15% commissions.
                </p>
                <img src="/assets/img.png">
                <p>
                    <a href="#" class="subdued">Now - October 21</a>
                    <a href="#" class="subdued">113</a>
                </p>
            </div>
        </div>
        <label>
            Iteger elementum, arcu vel pellentesque
            tristique, mi enim hendrerit neque, ut dapibus lacus ligula at lacus. Vestibulum egestas
            odio at sapien auctor, quis tempus felis feugiat. Mauris facilisis accumsan porttitor.
        </label>

        <div class="list card">
            <p>Detail Detail</p>
            <p>Detail Detail</p>
            <p>Detail Detail</p>
            <p>Detail Detail</p>
            <p>Detail Detail</p>
        </div>
    </ion-content>
</ion-view>