<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Confirmation</div>
        <a class="button button-icon icon  ion-navicon"></a>
    </div>

    <ion-content class="login-slides">
        <p class="center">Please Login</p>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Username@example.com">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="password" placeholder="**************">
            </label>
        </div>
    </ion-content>

    <ion-footer-bar>
        <div layout="row" layout-align="space-between center" layout-fill layout-margin>
            <div flex class="buttons">
                <a href="#/activationPromt" class="button-footer-c2go button">LOGIN</a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>