<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Send</div>
    </div>

    <ion-content class="intro-slides">

        (edit) (cancel)
        <div class="list">
            <label> To:
                Payment Sent!
                To: Jamie Wonderful
                Amount: $20.00 USD
                Job: Bob's Burgers
                Date: October 23, 2014
            </label>
        </div>

    </ion-content>
</ion-view>