<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Confirmation</div>
        <a class="button button-icon icon icon-right ion-chevron-right"></a>
    </div>

    <ion-content class="intro-slides">
        <div class="list card">
            <a href="#/specialDetails">
                <div class="item item-body">
                    <p>
                        Some Las Vegas Lounge <br>
                        15% commissions.
                    </p>
                    <img src="/assets/img.png">
                    <p>
                        <a href="#" class="subdued">Now - October 21</a>
                        <a href="#" class="subdued">113</a>
                    </p>
                </div>
            </a>
            <a href="#/specialDetails">
                <div class="item item-body">
                    <p>
                        Some Las Vegas Lounge <br>
                        15% commissions.
                    </p>
                    <img src="/assets/img.png">
                    <p>
                        <a href="#" class="subdued">Now - October 21</a>
                        <a href="#" class="subdued">113</a>
                    </p>
                </div>
            </a>
            <a href="#/specialDetails">
                <div class="item item-body">
                    <p>
                        Some Las Vegas Lounge <br>
                        15% commissions.
                    </p>
                    <img src="/assets/img.png">
                    <p>
                        <a href="#" class="subdued">Now - October 21</a>
                        <a href="#" class="subdued">113</a>
                    </p>
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>