.bar-c2go .title {
	font-family: "Lane";
}




input[type="text"], input[type="password"], input[type="email"] {
  border-bottom-style: solid;
  border-radius: 0px;
}
.md-label::before {
  display: none;
}


.border > input {
	border: 1px solid white !important;
	min-width: 285px;
}

/* login page */

.white {
	color: white;
}


.item-content div img {
	max-height: 35px;
	width: auto;
}


img.circle.avatar {
	height: 35px;
}


.signup md-input-container.md-default-theme .md-input {
	color: gray !important;
}

md-input-container.md-default-theme.dark label {
color: rgba(0,0,0,0.26) !important
}