<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Confirmation</div>
        <a class="button button-icon icon icon-right ion-chevron-right"></a>
    </div>
    <ion-content class="intro-slides">
        <br><br><br>

        <label class="item-input">
            Thank You!
            Your account is pending approval.
            You will be notified shortly on your
            account status
        </label>
    </ion-content>
</ion-view>