
&.bar-c2go {
  @include bar-style($bright-blue, $bright-blue, $white);
  &.bar-footer{
    @include bar-style($bar-positive-bg, $bar-positive-border, $bar-positive-text);
    background-image: linear-gradient(180deg, $bar-positive-border, $bar-positive-border 50%, transparent 50%);
  }
}
.bar-c2go {
  .button {
    @include button-style($bar-light-bg, $bar-light-border, $bar-light-active-bg, $bar-light-active-border, $white);
    @include button-clear($white, $bar-title-font-size);
  }
}


.bar-c2go > * {
  color: $white;
}

.bar-c2go .title {
  //font-family: "Roboto";
  font-family: "Roboto", "Lane - Narrow", sans-serif;
  font-weight: 600;
  color: #ff0000;
}

.white.md-lg {
  vertical-align: -10%;
}

.bar .button {
  padding: 0px 1px;
}

.bar-c2go.bar-footer {
  background: $bright-blue;
  background-color: $bright-blue;
  background-image: none;
}

.hidden-bar{
  background-image: none;
}

.hidden-bar .button{
  background: $bright-blue !important;
  background-color: $bright-blue !important;
  color: $white;
  width: 100%;
}

.footer-button{
  width:100%;
  text-align:center;
  padding-top: 7px;
  font-size: 18px;
}
