.bar-c2go .title {
	font-family: "Lane";
}




input[type="text"], input[type="password"], input[type="email"] {
  border-bottom-style: solid;
  border-radius: 0px;
}
.md-label::before {
  display: none;
}

/* login page */ 


.login-page {

}