.bar-c2go .title {
	font-family: "Lane";
}




input[type="text"], input[type="password"], input[type="email"] {
  border-bottom-style: solid;
  border-radius: 0px;
}
.md-label::before {
  display: none;
}


md-input-container.md-default-theme .md-input {
	border: 1px solid white;
}

/* login page */

.white {
	color: white;
}


.item-content div img {
	max-height: 35px;
	width: auto;
}