
input[type="text"], input[type="password"], input[type="email"] {
  border-bottom-style: solid;
  border-radius: 0px;
}

.md-label::before {
  display: none;
}

.border-white > input {
  border: 1px solid white !important;
  min-width: 285px;
}

.border-black > input {
  border: 1px solid black !important;
}

/* login page */

.white {
  color: white;
}

.item-content div img {
  max-height: 35px;
  width: auto;
}

img.circle.avatar {
  height: 35px;
}

md-input-container.md-default-theme .md-input {
  color: gray;
  padding-left: 2%
}

md-input-container.md-default-theme label {
  color: gray;
  margin-left: 2%
}

.drop-down-list {
  border-bottom: 1px solid rgba(0,0,0,0.16);
  color: rgba(0,0,0,0.26);
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}






