<ion-view>
    <ion-slide-box style="height:90%;">
        <ion-slide>
            <p>
                The simplest way to collect the <br>
                commissions you earn every day.
            </p>
        </ion-slide>

        <ion-slide>
            <h3>Using Awesome</h3>

            <div id="list">
                <h5>Just three steps:</h5>
                <ol>
                    <li>Be awesome</li>
                    <li>Stay awesome</li>
                    <li>There is no step 3</li>
                </ol>
            </div>
        </ion-slide>

        <ion-slide>
            <h3>Any questions?</h3>
            <p>
                Too bad!
            </p>
        </ion-slide>
    </ion-slide-box>


    <ion-footer-bar class="hidden-bar">
        <div layout="row" layout-align="space-between center" layout-fill layout-margin>
            <div flex class="buttons">
                <md-button class="md-raised md-primary button" ui-sref="meeting.comment">SIGN UP</md-button>
            </div>
            <div flex class="buttons">
                <md-button class="md-raised md-primary button" ui-sref="user.login">LOG IN</md-button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>