<ion-view>

        <ion-content class="launch-slides">
            <ion-slide-box>
                <!-- first slide -->
                <ion-slide>
                    <div id="logo">
                        <img src="http://code.ionicframework.com/assets/img/app_icon.png">
                    </div>
                    <p>
                        The simplest way to collect the <br>
                        commissions you earn every day.
                    </p>
                </ion-slide>

                <!-- second slide -->
                <ion-slide>
                    <h3>Using Awesome</h3>

                    <div id="list">
                        <h5>Just three steps:</h5>
                        <ol>
                            <li>Be awesome</li>
                            <li>Stay awesome</li>
                            <li>There is no step 3</li>
                        </ol>
                    </div>
                </ion-slide>

                <!-- third slide -->
                <ion-slide>
                    <h3>Any questions?</h3>
                    <p>
                        Too bad!
                    </p>
                </ion-slide>
            </ion-slide-box>
        </ion-content>

    <ion-footer-bar>
        <div layout="row" layout-align="space-between center" layout-fill layout-margin>
            <div flex class="buttons">
                <a href="#/createAccount" class="button-footer-c2go button-full button">SIGN UP</a>
            </div>
            <div flex class="buttons">
                <a href="#/login" class="button-footer-c2go  button button-block">LOG IN</a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>