<ion-view>
    <div class="bar bar-header">
        <a class="button button-icon icon ion-navicon"></a>
        <div class="h1 title">Select Transaction</div>
        <a href="#/" class="button button-icon icon icon-right ion-android-notifications-none"></a>
    </div>
    <ion-content class="intro-slides">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>

        <div class="list">
            <div class="item item-icon-left" href="#/selectRecipient">
                <i class="icon ion-arrow-return-right"></i>
                Club Ladies
                <div class="item-note">
                    + $19.99 <br>
                    October 7, 2014
                </div>
            </div>

            <a class="item item-icon-left" href="#/selectRecipient">
                <i class="icon ion-arrow-return-right"></i>
                Tiger Central
                <div class="item-note">
                    - $9.95 <br>
                    October 5, 2014
                </div>
            </a>

            <a class="item item-icon-left" href="#/selectRecipient">
                <i class="icon ion-arrow-return-right"></i>
                Bob's Place
                <div class="item-note">
                    + $49.95 <br>
                    October 3, 2014
                </div>
            </a>
        </div>

</ion-view>