.profile {
	margin-top: 20px;
}


.avatar.profile {
	margin-right: 10px;
}

.top-info h3, .top-info h4 {
	margin: 0;
	color: $sec-grey;
}

.top-info h3 {
	font-weight: 400;
}

.top-info h4 {
	color: $sec-grey;
	font-weight: 400;
}

.vicelist {
	background: $light-white;
	width: 100%;
}