.nav-active {
	color: $orange;
}

.logged-out, .logged-in {
	padding: 16px;
	background-color: $off-white;
	border-bottom: 1px solid $light-grey;
}

.prompt {
	padding: 15px 0;
}

.prompt h3 {
	font-weight: 400;
	color: $grey;
	margin-left: 15px;
	line-height: 1.5em;
	font-size: 16px;
}

.logged-out > div > .button {
	background-color: $med-blue;
	border-width: 0px;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;
	box-shadow: 0 1px 4px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
	font-weight: 500;
	min-height: 20px !important;
	line-height: 40px;
}

img.circle {
border-radius: 100%;
height: 100%;
width:100%;
}


.user > .details h3 {
 margin: 0 0 0 5px;
font-weight: 400;
color: $med-grey;
font-size: 16px;
padding-bottom: 0px;
}

.user > .details h4 {
 margin: 0 0 0 5px;
 padding: 0 0 0 5px;
 font-size: 14px;
 color: $grey;
 font-weight: 500;

}
.user > .details h4 {
	margin-right: 5px;
}
.nav-list .item {
	border-color: white;
}
.nav-list .item-content {
padding: 16px 49px 10px 16px; 
}

.nav-list i.md-lg {
	margin-right: 20px;
	vertical-align: -5%
}