$blue: rgba(66, 139, 202, 1);
$orange: orange !default;
$gray: rgba(230,230,230,1);
$white: rgb(255,255,255);
$black: rgb(51, 51, 51);

$bar-addicaid-text: $orange !default;

$sans-serif-font: 'Avenir LT STD', sans-serif;
$md-lightblue: #19b0c5;
$md-darkblue: #177c9a;
$gray: rgb(100,100,100);
$lime-green: rgb(210, 221, 40);
$link-blue: rgb(33, 148, 184);
$tealblue: rgb(33, 148, 184);


$AA: #005d9a;
$NA: #ca3347;
