.content-login {
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.content-login .text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-login md-input-container.md-default-theme .md-input {
  color: #ffffff;
}

.content-login md-input-container.md-default-theme label {
  color: #ffffff;
}