.content-signup2 {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 20px;
}

.content-signup3 {
  margin-top: 100px;
  margin-right: 70px;
  margin-left: 70px;
}

.img-user-position {
  padding: 20px;
}

.input-position {
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.inline {
  display: inline-block;
}

.content-signup2 .text {
  margin: 10px;
}

.content-signup3 .text {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* For the iconButton of the drop-down-list*/
.content-signup .right-position {
  float: right;
}

.content-signup2 .right-position {
  float: right;
  margin-top:17px;
}

.content-signup3 .font-icon {
  font-size: 20px;
}

.content-signup md-input-container.md-default-theme .md-input {
  color: #000000;
}

.content-signup md-input-container.md-default-theme label {
  color: #000000;
}