div.bar.bar-subheader {
//  background-color: $off-white;

}

div.bar.bar-subheader > .title {
  color: #444444;
  font-weight: normal;
}

.bar h1.title {
  text-align: left;
  left: 0px;
}

h1.title.title-left {
  left: 40px !important;
}

.has-subheader-rel {
  top: 44px;

}

.bar-subheader.rel {
  top: 0px !important;
  position: relative;
}

.header-list {
  height: 55px;
}

.balance-name {
  padding-left: 10px;
  text-align: left;
  font-weight:bold;
  font-size: 14px;
}

.balance-sum {
  padding-right: 10px;
  text-align: right;
  font-size: 12px;
}

.list-entry .icon {
  padding-top: 3px;
}

.list-entry .row-left-5 {
  padding-left: 5px;
}

ion-item .row-left-20 {
  padding-left: 20px;
}

.list-entry .row-right {
  text-align: right;
}

.list-entry .row-right .bottom{
  font-size: 10px;
}

.list-entry .row-right .green-operation {
  color: greenyellow;
}

.list-entry .row-right .red-operation {
  color: red;
}

