


.name {
	font-family: "Roboto", sans-serif;
}

.info-bar {
	background: $med-blue;
	color: white;
	padding: 10px 0;
	position: relative;
	
}

.info-bar h4.mt-title {
	color: white;
	margin: 5px 0px;
	font-size: 16px;
}
.info-bar .fellowship {
	font-weight: 500;
	color: white;

}
.md-button.md-fab.md-fab-top-right .directions {
	z-index: 20000;
	height: 50px;
	width: 50px;
	top:-30px !important;
	right: 18px !important;
}

.md-button.md-fab.md-fab-top-right {
		z-index: 20000;
	height: 50px;
	width: 50px;
	top:-30px !important;
	right: 18px !important;
}

.tool.notes {
	margin-left: 0px;
}



.notes {

	color: $grey !important;
	opacity: 1;
	font-size: 14px;
}

.tool.tags {
	display: inline-block;
}
.tag-list {
	display:inline-block;
	vertical-align: text-top;
}
.tag-list li {
	display: inline-block;
}

md-bottom-sheet {
	padding: 8px 16px 108px 16px !important;
}
md-bottom-sheet.md-list:before, md-bottom-sheet .md-label::before {
	display: none;
}

md-bottom-sheet h4 {
	color: $prim-grey;
	margin-left: 10px;
}

md-bottom-sheet button.md-primary.md-button.md-addicaid-theme {
	background: white !important;
	background-color: white !important;
	font-size: 18px;
	font-weight: 500 !important;
}

md-checkbox.md-addicaid-theme.md-checked .md-icon {
	background-color: $orange;
}

md-bottom-sheet.md-default-theme.md-list md-item {
	color: $sec-grey;
}


.dist-min {
	text-align: center;
	font-weight: 500;
}

.detail-padding {
	padding: 10px;
}

.info {
	margin: 10px 0;
}
.info.day-time {
	margin: 10px 0;
}

.detail-tabs {
	height: 50px;
}

.detail-tabs .tab {
	color: $med-blue !important;
	font-weight: 500 !important;
}
.tab {
	color: $med-blue !important;
	font-weight: 500 !important;
}

.absolute {
	position: absolute;
top: 20px;
width: 100%;
}

.absolute > .overlaid.right {
float: right;
}

.md-button.md-addicaid-theme.md-primary {
	color: $blue;
}

.actions {
	border-top: 1px solid $off-white;
	border-bottom: 1px solid $off-white;
	padding-top: 10px;
	padding-bottom: 10px;

}

.actions .md-primary, .md-primary.add-tag {
	color: $med-blue;
	font-weight: 500;
	padding: 0 5px;
}

.actions .md-primary span {
	display: block;
	margin: 3px 0 7px 0;
}

span.dot {
	font-size: 26px;
vertical-align: middle;
display: inline-block;
padding: 0 2px;
}

md-tab-label {
	color: $med-blue !important;
	font-weight: 500;
font-family: "Roboto" !important;
}

.user .right-info {
	margin: 0;
	padding: 0 10px;
}

.right-info .name {
	color: $med-grey;
	font-size: 14px;
	margin-top: 5px;
}

.user-comment.detail-padding {
	padding-top: 0px;
}

ion-item.user.detail-padding.check-in.item {
	border-top: none;
}

.user-comment .name {
	margin: 20px 0 5px 0;
}

h6.post-date {
	margin: 0;
	color: $grey;
	font-weight: 400;
}

md-tabs.md-addicaid-theme md-tab:focus {
	border-color: $med-blue !important;
	border-width: 4px;
}

.overlay:after {
content: '';
position: absolute;
background-image: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: rgba(0, 0, 0, 0.498039);
background-size: initial;
background: rgb(0, 0, 0);
background: -moz-linear-gradient(270deg, rgba(0, 0, 0, .45) 1%, rgba(0,0,0,0) 80%);
background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .45) 1%, rgba(0,0,0,0) 80%);
background: -o-linear-gradient(270deg, rgba(0, 0, 0,.45) 1%, rgba(0,0,0,0) 80%);
background: -ms-linear-gradient(270deg, rgba(0, 0, 0,.45) 1%, rgba(0,0,0,0) 80%);
background: linear-gradient(180deg, rgba(0, 0, 0,.45) 1%, rgba(0,0,0,0) 80%);
width: 100%;
height: 80%;
top: 0px;
left:0px;
overflow-y: hidden;
overflow-x: hidden;
}

.bar-invisible {
	display: none;
}

div.leaflet-control-attribution.leaflet-control {
	display: none;
}