@font-face {
  font-family: "Lane - Narrow", sans-serif;
  font-weight: bold;
  src: url('../../fonts/lanenar_Lane.ttf') format('truetype'), url('../../fonts/lanenar_Lane.woff') format('woff'), url('../../fonts/lanenar_Lane.woff') format('svg'), url('http://samfrons.com/lanenar_Lane.ttf');
  font-style: normal;
}

* {
  -webkit-font-smoothing: auto;

  }

  h1, h2, h3, h4, h5, h6, p, label {
    font-family: "Lane - Narrow", sans-serif;
  font-weight: bold;
  }

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-align: center;
  font-family: "Lane - Narrow", sans-serif;
  font-weight: 300;
}

.slider-pager .slider-pager-page {
  color: white;
}

.slide {
  background: url(../img/blur.jpg);
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab {
  background-color: #008ed6;
}

.slide p {
font-size: 1.2em;
}
.slider-slide h3 {
  color: white;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.bar h1.title {
  text-align: center !important;
}

.logo {
  height: 100px;
  width: auto;
}

.bkimage {
  background: url(../img/blurbk.jpg);
  background-size: cover;

}

.slide2 {
   background: url(../img/blurbk2.jpg);
   background-size: cover;
}


.slide3 {
   background: url(../img/blurbk3.jpg);
   background-size: cover;
   padding-left: 0;
}


.buttons .md-button.md-default-theme.md-primary.md-raised {
  width: 100% !important;
}