
.center-div {
  text-align: center;
}

.search-position {
  margin: 0px;
  width:80%;
  display: inline-block;
}

.send-money .lined-row {
  padding: 20px;
  border-bottom: 1px solid rgb(239, 241, 245);
}

.send-money .unlined-row {
  padding: 20px;
}

.send-money .right-space {
  margin-right: 10px;
}

