<ion-view class="login-page">
    <ion-header-bar align-title="center" class="bar-c2go">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon"><i class="md-menu md-lg"></i></button>
        </div>
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div layout="column" layout-align="center center" class="content-login">
            <h2 class="white">Please Login</h2>
            <img class="logo" src="img/c2go-logo-white.svg">
            <form class="login" flex="100">
                <div layout="column" layout-align="center center">
                    <div style="margin-left: 30px;margin-right: 30px;">{{ loginCtrl.error }}</div>
                    <div>
                        <md-input-container class="border-white">
                            <label>Username</label>
                            <input type="text" ng-model="loginCtrl.user.username">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="border-white">
                            <label>Password</label>
                            <input type="password" ng-model="loginCtrl.user.password">
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-c2go bar-footer">
        <div class="footer-button" ng-click="loginCtrl.login()">Done</div>
    </ion-footer-bar>
</ion-view>