<ion-view>
    <ion-header-bar align-title="center" class="bar-c2go">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon"><i class="md-menu white md-lg"></i></button>
        </div>
        <h1 class="title">Create Account</h1>
    </ion-header-bar>
    <ion-content class="has-header">
            <div style="padding-left: 20px;padding-right: 20px;">
                <div layout="row">
                    <div flex="30" style="padding-top: 25px;">
                        <img src="/assets/unknownUser.jpg">
                    </div>
                    <div flex>
                        <div>
                            <md-text-float type="text" ng-model="fname" label="First Name" style="margin: 0px;">
                        </div>
                        <div>
                            <md-text-float type="text" ng-model="lname" label="Last Name" style="margin: 0px;">
                        </div>
                    </div>
                </div>
                <div>
                    <md-text-float type="password" ng-model="password" label="Password" style="width: 100%;margin: 0px;">
                </div>
                <div>
                    <md-text-float type="text" ng-model="email" label="E-mail" style="width: 100%;margin: 0px;">
                </div>
                <div>
                    <md-text-float type="text" ng-model="phone" label="phone" style="width: 100%;margin: 0px;">
                </div>
                <div>
                    <md-text-float type="text" ng-model="sec" label="Last 4 digits of social security number" style="width: 100%;margin: 0px;">
                </div>
                <div>
                    <md-text-float type="text" ng-model="confirm" label="confirm" style="width: 100%;margin: 0px;">
                </div>
                <div>
                    <md-text-float type="text" ng-model="date" label="DOB" style="width: 100%;margin: 0px;">
                </div>
                <div ng-init="show=true">
                    <div style="border-bottom: 1px solid rgba(0,0,0,0.16);color: rgba(0,0,0,0.26);padding-top: 20px;padding-bottom: 10px;" ng-click="show=!show">
                        Billing address <i ng-class="{'ion-chevron-down': show, 'ion-chevron-up': !show}" style="float: right;"></i>
                    </div>
                    <div ng-show="!show">
                        <div>
                            <md-text-float type="text" ng-model="b1" label="Billing address" style="width: 100%;margin: 0px;">
                        </div>
                        <div>
                            <md-text-float type="text" ng-model="b2" label="Billing address line 2" style="width: 100%;margin: 0px;">
                        </div>
                        <div>
                            <md-text-float type="text" ng-model="city" label="City" style="width: 100%;margin: 0px;">
                        </div>
                        <div layout="row">
                            <div flex="65">
                                <md-text-float type="text" ng-model="state" label="State" style="width: 100%;margin: 0px;">
                            </div>
                            <div flex style="padding-left: 10px;">
                                <md-text-float type="text" ng-model="zip" label="Zip" style="width: 100%;margin: 0px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <md-checkbox ng-model="data">Mailing address is same as billing</md-checkbox>
                </div>
            </div>
        </ion-content>

        <ion-footer-bar class="bar-c2go bar-footer">
            <div class="footer-button" ui-sref="meeting.comment">Next</div>
        </ion-footer-bar>
</ion-view>