<ion-view class="signup">
    <ion-header-bar align-title="center" class="bar-c2go">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon"><i class="md-menu md-lg"></i></button>
        </div>
        <h1 class="title">Create Account</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="content-signup2">
            <div ng-init="show=false">
                <div class="drop-down-list" ng-click="show=!show">
                    <md-checkbox ng-model="data1" class="inline"></md-checkbox>
                    I agree to the following
                    <i ng-class="{'ion-chevron-right': show, 'ion-chevron-down': !show}" class="right-position"></i>
                </div>
                <div ng-show="!show" class="text">
                    The simplest way to collect the commissions you earn
                    every day. Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede
                    mollis pretium. Integer tincidunt. Cras dapibus.
                    Vivamus elementum semper nisi. Aenean vulputate
                </div>
            </div>
            <div ng-init="show2=true">
                <div class="drop-down-list" ng-click="show2=!show2">
                    <md-checkbox ng-model="data2" class="inline"></md-checkbox>
                    Privacy Policy
                    <i ng-class="{'ion-chevron-right': show2, 'ion-chevron-down': !show2}" class="right-position"></i>
                </div>
                <div ng-show="!show2"  class="text">
                    <div>
                        The simplest way to collect the commissions you earn
                        every day. Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
            </div>
            <div ng-init="show3=true">
                <div class="drop-down-list" ng-click="show3=!show3">
                    <md-checkbox ng-model="data3" class="inline"></md-checkbox>
                    E-sign Authorization
                    <i ng-class="{'ion-chevron-right': show3, 'ion-chevron-down': !show3}" class="right-position"></i>
                </div>
                <div ng-show="!show3"  class="text">
                    <div>
                        The simplest way to collect the commissions you earn
                        every day. Lorem ipsum dolor sit amet, consectetuer
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-c2go bar-footer">
        <div class="footer-button" ui-sref="user.signup3">CREATE ACCOUNT</div>
    </ion-footer-bar>
</ion-view>