<ion-view>
    <ion-header-bar align-title="center" class="bar-c2go">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon"><i class="md-menu white md-lg"></i></button>
        </div>
        <h1 class="title">Create Account</h1>
    </ion-header-bar>
    <ion-content class="has-header">
            <div>
                <div layout="row">
                    <div flex="30" style="padding: 20px;">
                        <img src="img/unknownUser.png">
                    </div>
                    <div flex>
                        <div>
                            <md-input-container style="padding-bottom: 0px;">
                                <label>First Name</label>
                                <input type="text" ng-model="fname">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container style="padding-bottom: 0px;">
                                <label>Last Name</label>
                                <input type="text" ng-model="lname" style="...">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div>
                    <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                        <label>Password</label>
                        <input type="password" ng-model="password">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                        <label>E-mail</label>
                        <input type="text" ng-model="email">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                        <label>phone</label>
                        <input type="text" ng-model="phone">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                        <label>Last 4 digits of social security number</label>
                        <input type="text" ng-model="sec">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                        <label>Confirm</label>
                        <input type="text" ng-model="confirm">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                        <label>DOB</label>
                        <input type="text" ng-model="date">
                    </md-input-container>
                </div>
                <div ng-init="show=true">
                    <div style="border-bottom: 1px solid rgba(0,0,0,0.16);color: rgba(0,0,0,0.26);padding-top: 20px;padding-bottom: 10px;margin-left: 20px;margin-right: 20px;" ng-click="show=!show">
                        Billing address <i ng-class="{'ion-chevron-right': show, 'ion-chevron-down': !show}" style="float: right;"></i>
                    </div>
                    <div ng-show="!show">
                        <div>
                            <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                                <label>Billing address</label>
                                <input type="text" ng-model="b1">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                                <label>Billing address line 2</label>
                                <input type="text" ng-model="b2">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container style="padding-bottom: 0px;margin-left: 20px;margin-right: 20px;">
                                <label>City</label>
                                <input type="text" ng-model="city">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <div flex="65">
                                <md-input-container style="padding-bottom: 0px;margin-left: 20px;">
                                    <label>State</label>
                                    <input type="text" ng-model="state">
                                </md-input-container>
                            </div>
                            <div flex style="padding-left: 10px;">
                                <md-input-container style="padding-bottom: 0px;margin-right: 20px;">
                                    <label>Zip</label>
                                    <input type="text" ng-model="zip">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <md-checkbox ng-model="data">Mailing address is same as billing</md-checkbox>
                </div>
            </div>
        </ion-content>

        <ion-footer-bar class="bar-c2go bar-footer">
            <div class="footer-button" ui-sref="user.signup2">Next</div>
        </ion-footer-bar>
</ion-view>